.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 100%;
  color: #424e49;
}

.list,
.list-admin {
  list-style-type: none;
  margin: 0;
}

.list {
  padding-left: 3vw;
  display: inline-flex;
  justify-content: space-around;
  align-items: stretch;
}

.list-admin {
  align-items: stretch;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 65vw;
}

a {
  text-decoration: none;
  color: black;
}

.description {
  display: inline-flex;
  align-items: stretch;
  padding: 5vw 0 0 5vw;
}
.img {
  display: inline-flex;
  align-items: stretch;
  border-radius: 3vw;
  width: 30vw;
  height: 30vw;
}

.p-description {
  padding-left: 3vw;
  width: 40vw;
}

.review {
  display: inline-flex;
  align-items: center;
  justify-content: space-evently;
  /* background-color: green; */
  /* padding: 5vw 0 0 5vw; */
}

.rev1,
.rev2,
.rev3,
.rev4 {
  background-color: red;
  display: inline-flex;
  align-items: center;
  justify-content: space-evently;
  padding: 10vw 0 0 15vw;
  margin: 5vw;
  flex-wrap: wrap;
  border-radius: 2vw;
}

.rev2,
.rev3,
.rev4 {
  background-color: purple;
}

.rev3 {
  background-color: blue;
}

.rev4 {
  background-color: blue;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding-right: 10px;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20vw;
}
