@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button > a:hover {
  color: black;
}

.container {
  width: 100%;
  color: #424e49;
}

.backgound {
  backgound-color: #424e49;
}

.list,
.list-admin {
  list-style-type: none;
  margin: 0;
  margin-left: 2vw;
}

.list {
  padding-left: 3vw;
  display: inline-flex;
  justify-content: space-around;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f4ce14;
}

.list-admin {
  align-items: stretch;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 65vw;
}

.description {
  display: inline-flex;
  align-items: stretch;
  padding: 5vw 0 0 5vw;
}
.img {
  display: inline-flex;
  align-items: stretch;
  border-radius: 3vw;
  width: 30vw;
  height: 30vw;
}

.title {
  padding-left: 3vw;
  width: 40vw;
  margin-top: 2vw;
  font-size: 2vw;
  color: #eec13e;
  font-weight: bold;
}

.p-description {
  padding-left: 3vw;
  width: 40vw;
  margin-top: 1vw;
  color: white;
}

.btn-res {
  padding-left: 3vw;
  margin-top: 5vw;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding-right: 10px;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20vw;
}

.confirm-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20vw;
}

.date-comp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carusel {
  margin: 2vw;
}
